### SIC codes to FF Industry Classifications

The Purpose of this document is simply to turn SIC codes into the corresponding Industry category as in Fama and French's website

In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
#extract actual tables from Fama and French
FF30d = pd.read_excel("./Industries_Andre.xlsx",sheet_name = "FF_30Ind_")
FF12d = pd.read_excel("./Industries_Andre.xlsx", sheet_name = "FF_12Ind_")

In [3]:
FF = pd.read_excel("./Industries_Andre.xlsx", sheet_name = "All_Companies")
FF["FF30"] = np.nan
FF["FF12"] = np.nan

In [4]:
FF.head()

                  NAME   SIC  FF30  FF12
0                 AAON  3580   NaN   NaN
1                  AAR  3724   NaN   NaN
2              AARON'S  7359   NaN   NaN
3  ABBOTT LABORATORIES  5047   NaN   NaN
4               ABBVIE  2834   NaN   NaN

In [5]:
FF30d.head()

,Cat_Number,Actual_Interval,From,To,Long_Name,Category_30FF
0,1,0100-0199,100,199,Agric production - crops,1 - Food Products
1,1,0200-0299,200,299,Agric production - livestock,1 - Food Products
2,1,0700-0799,700,799,Agricultural services,1 - Food Products
3,1,0910-0919,910,919,Commercial fishing,1 - Food Products
4,1,2000-2009,2000,2009,Food and kindred products,1 - Food Products

In [6]:
FF12d.head()

  Actual_Interval    From      To              Category_12FF
0       0100-0999   100.0   999.0  1 - Consumer Non-Durables
1       2000-2399  2000.0  2399.0  1 - Consumer Non-Durables
2       2700-2749  2700.0  2749.0  1 - Consumer Non-Durables
3       2770-2799  2770.0  2799.0  1 - Consumer Non-Durables
4       3100-3199  3100.0  3199.0  1 - Consumer Non-Durables

In [7]:
n = 0
time0 = time.time()
sic_30 = list()
for sic in FF["SIC"]:
    n += 1
    for a in range(0,len(FF30d)):
        if sic >= FF30d["From"][a] and sic <= FF30d["To"][a]:
            sic_30.append(FF30d["Category_30FF"][a])
            next
    if len(sic_30) != n:
        sic_30.append("NA")
FF["FF30"] = pd.DataFrame(sic_30)
time1 = time.time()
time1-time0

38.89785885810852

In [8]:
n = 0
time0 = time.time()
sic_30 = list()
for sic in FF["SIC"]:
    n += 1
    for a in range(0,len(FF12d)):
        if sic >= FF12d["From"][a] and sic <= FF12d["To"][a]:
            sic_30.append(FF12d["Category_12FF"][a])
            next
    if len(sic_30) != n:
        sic_30.append("NA")
FF["FF12"] = pd.DataFrame(sic_30)
time1 = time.time()
time1-time0

3.5086445808410645

In [9]:
#FF.to_excel('./Andre_Final.xlsx', sheet_name = "FF_Ind")